html,
body {
  margin: 0;
  height: 100vh;
  background-color: #95de96;
  position: relative;
}

/* .screen-out {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* 메인페이지 스타일링 */

.page-wrapper {
  display: flex;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  font-family: 'Gowun Batang', serif;
}

.title {
  margin: 0;
  font-size: 2rem;
}

.page-wrapper span {
  font-size: 100px;
}

.page-wrapper p {
  font-size: 1.4rem;
  margin: 0;
}

.check-btn {
  margin-top: 1.8rem;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #5dc25f;
  color: #fff;

  font-weight: 700;
}

/* 모달 스타일링 */
#modal-window {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 350px;
  height: fit-content;
  margin: auto;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #fff;
}

.modal-close::after {
  display: block;
  content: 'X';
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  color: #5dc25f;
  font-size: 1.4rem;
  font-weight: 700;
}

.modal-wrapper h2::after {
  display: block;
  content: '';
  border-top: 1.5px solid #ccc;
  margin-top: 8px;
}
.modal-btns {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

.modal-btns button {
  margin: 10px 0;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #5dc25f;
  color: #fff;
  font-weight: 700;
}
