body,
html {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #9ed171;
}

.container {
  width: 410px;
  background-color: #fff;
  border: 1px solid lightgray;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

.form-box {
  width: 370px;
  padding: 15px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.container > h1 {
  text-align: left;
}

button {
  border: none;
  background-color: yellowgreen;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  margin-left: 350px;
}
